#btnCancel{
	-fx-background-color:#df4759;
	-fx-text-fill: #FFFFFF;
}

#btnCancel:hover{
	-fx-background-color:#E83842;
}

#btnAdd{
	-fx-background-color:#09333F;
	-fx-text-fill: #FFFFFF;
}

#btnAdd:hover{
	-fx-background-color:#0A3B4A;
}






